.regist{
    height:100%;
    width: 100%;
    background-color:#898484;
    padding-top:150px;
}
mat-card{
    width: 450px;
    margin: auto;
    height:450px;
    max-width: 400px;

}
.example-container {
    display: flex;
    flex-direction: column;
    background-color:white;
    padding:10px;
    
  }
  
  .example-container > * {
    width: 100%;
  }
  button{
      margin-left:150px;
  }