<mat-toolbar style="background-color:#3f51b5">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Programming Hybrid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse content" id="navbarSupportedContent" style="padding:50px;">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tutorials
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">C</a>
                <a class="dropdown-item" href="#">C++</a>
                <a class="dropdown-item" href="#">DS & Algo</a>
                <a class="dropdown-item" href="#">DBMS</a>
                <a class="dropdown-item" href="#">Python</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Practise <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Test</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  WEB DEVELOPMENT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">HTML5 & CSS3</a>
                  <a class="dropdown-item" href="#">JavaScipt & Jquery</a>
                  <a class="dropdown-item" href="#">Angular</a>
                  <a class="dropdown-item" href="#">React</a>
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Donate US <mat-icon>favorites</mat-icon></a>
              </li>
          </ul>
          <button mat-button style="float:right;" routerLink = '/register'>Login/signup</button>

        </div>
      </nav>
</mat-toolbar>